@keyframes scroll {
    0% {
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0;
        transform: translateY(46px)
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

body {
    position: relative;
    background-image: url(/images/running.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    font-family: Oswald, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

@media(max-width:1200px)and (orientation:portrait) {
    body {
        background-image: url(/images/running.jpg)
    }
}

body .navbarToggle .fas {
    display: none;
    color: #23b8fb;
    font-size: 40px;
    position: fixed;
    right: 40px;
    top: 25px;
    z-index: 101;
    cursor: pointer
}

body .navbarToggle .active,
body nav {
    display: block
}

body nav {
    position: fixed;
    top: -200px;
    left: 0;
    width: 100%;
    z-index: 100;
    transition: .5s
}

body nav.active {
    top: 0
}

body nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: nowrap;
    align-content: center;
    padding-right: 120px;
    background-color: rgba(0, 0, 0, .99);
    width: 100%
}

body nav ul li a {
    text-decoration: none;
    color: #23b8fb;
    font-size: 24px;
    position: relative;
    overflow: hidden;
    padding: 30px;
    display: flex
}

body nav ul li a:after {
    content: "";
    width: 80%;
    position: absolute;
    top: 75%;
    left: 100%;
    border-top: 3px solid #23b8fb;
    transition: .5s
}

body nav ul li a:hover:after {
    left: 10%
}

@media(max-width:414px)and (orientation:portrait) {
    body .navbarToggle .fas {
        font-size: 35px;
        top: 20px;
        right: 20px
    }
    body nav {
        top: -100vh
    }
    body nav ul {
        padding: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .99)
    }
    body nav ul li {
        height: 14.2857142857vh;
        border-top: 1px solid #23b8fb;
        display: flex;
        justify-content: center;
        align-items: center
    }
    body nav ul li a:after {
        content: "";
        border: none
    }
}

@media(min-width:415px)and (max-width:768px)and (orientation:portrait) {
    body .navbarToggle .fas {
        right: 40px;
        top: 45px;
        font-size: 45px
    }
    body nav {
        top: -100vh
    }
    body nav ul {
        padding: 0;
        flex-direction: column;
        background-color: rgba(0, 0, 0, .99)
    }
    body nav ul li {
        height: 14.2857142857vh;
        border-top: 1px solid #23b8fb;
        display: flex;
        justify-content: center;
        align-items: center
    }
    body nav ul li a:after {
        content: "";
        border: none
    }
}

@media(min-width:769px)and (max-width:1023px)and (orientation:portrait) {
    body .navbarToggle .fas {
        font-size: 30px;
        right: 30px;
        top: 30px
    }
    body nav ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap
    }
    body nav ul li a {
        padding: 30px 20px;
        font-size: 20px
    }
}

@media(min-width:1024px)and (max-width:1366px)and (orientation:portrait) {
    body .navbarToggle .fas {
        font-size: 60px
    }
    body nav ul li a {
        padding: 40px
    }
}

@media(max-width:731px)and (orientation:landscape) {
    body .navbarToggle .fas {
        font-size: 42px;
        top: 20px;
        right: 20px
    }
}

@media(min-width:732px)and (max-width:823px)and (orientation:landscape) {
    body .navbarToggle .fas {
        top: 40px;
        right: 40px;
        font-size: 20px
    }
    body nav ul li {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: nowrap
    }
    body nav ul li a {
        font-size: 32px;
        background-color: rgba(0, 0, 0, .99)
    }
}

@media(min-width:824px)and (max-width:1400px)and (orientation:landscape) {
    body .navbarToggle .fas {
        font-size: 58px
    }
    body nav ul li a {
        padding: 25px 40px
    }
}

header {
    position: relative;
    background-image: url(../images/strength.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    z-index: 1;
    cursor: default;
    min-width: 100%
}

header img {
    z-index: 3
}

header h1 {
    color: #fff;
    font-size: 80px;
    padding: 0 80px 10px;
    border-bottom: 1px solid #23b8fb;
    z-index: 3;
    text-transform: uppercase
}

header h1 span {
    color: #23b8fb
}

header ul {
    z-index: 3;
    list-style: none;
    display: flex
}

header ul li span {
    font-size: 48px;
    color: #fff;
    text-align: center
}

header ul li span:after {
    content: "·";
    color: #23b8fb;
    padding: 0 45px
}

header ul li:last-child span:after {
    content: "";
    padding: 0
}

header div {
    width: 40px;
    height: 70px;
    margin-left: -20px;
    bottom: 10%;
    margin-top: -35px;
    box-shadow: inset 0 0 0 1px #fff;
    border-radius: 25px
}

header div,
header div:before {
    position: absolute;
    left: 50%;
    z-index: 50
}

header div:before {
    content: "";
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-name: scroll
}

header:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 0
}

@media(max-width:414px)and (orientation:portrait) {
    header h1 {
        font-size: 34px;
        padding: 10px 20px
    }
    header ul li {
        padding-top: 6px
    }
    header ul li span {
        font-size: 26px
    }
    header ul li span:after {
        padding: 0 15px
    }
    header div {
        display: none
    }
}

@media(min-width:415px)and (max-width:768px)and (orientation:portrait) {
    header h1 {
        font-size: 20px;
        padding: 10px 20px
    }
    header ul li span {
        font-size: 32px
    }
    header ul li span:after {
        padding: 0 15px
    }
}

@media(min-width:769px)and (max-width:1023px)and (orientation:portrait) {
    header {
        background-image: url(/images/running.jpg);
        background-position: 50%;
        background-repeat: no-repeat
    }
    header h1 {
        font-size: 80px
    }
    header ul li span {
        font-size: 50px
    }
    header ul li span:after {
        padding: 0 55px
    }
    header div {
        display: none
    }
}

@media(min-width:1024px)and (max-width:1366px)and (orientation:portrait) {
    header {
        background-image: url(/images/running.jpg);
        background-position: 50%;
        background-repeat: no-repeat
    }
    header h1 {
        font-size: 120px;
        padding: 0 50px 10px
    }
    header ul li span {
        font-size: 68px
    }
    header ul li span:after {
        padding: 0 40px
    }
}

@media(max-width:533px)and (orientation:landscape) {
    header h1 {
        font-size: 32px;
        padding: 40px 20px 5px
    }
    header ul li span {
        font-size: 22px
    }
    header ul li span:after {
        padding: 0 15px
    }
    header div {
        display: none
    }
}

@media(min-width:534px)and (max-width:731px)and (orientation:landscape) {
    header h1 {
        font-size: 26px;
        padding: 3px 16px
    }
    header div {
        display: none
    }
}

@media(min-width:732px)and (max-width:823px)and (orientation:landscape) {
    header {
        background-image: url(/images/running.jpg);
        background-position: 50%;
        background-repeat: no-repeat
    }
    header h1 {
        font-size: 46px
    }
    header ul li span {
        font-size: 38px
    }
    header ul li span:after {
        padding: 0 45px
    }
    header div {
        display: none
    }
}

@media(width:812px)and (orientation:landscape) {
    header {
        background-image: url(/images/running.jpg);
        background-position: 50%;
        background-repeat: no-repeat
    }
    header h1 {
        font-size: 46px
    }
    header ul li span {
        font-size: 20px
    }
    header ul li span:after {
        padding: 0 55px
    }
    header div {
        display: none
    }
}

@media(min-width:1200px)and (max-width:1366px) {
    header div {
        bottom: 5%
    }
}

section.offer {
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    padding: 5vh 0;
    background-color: #000;
    -webkit-clip-path: polygon(100% 95%, 0 100%, 0 0, 100% 0);
    clip-path: polygon(100% 95%, 0 100%, 0 0, 100% 0)
}

section.offer .pricing {
    padding: 100px 40px 200px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column
}

section.offer .pricing img {
    max-width: 100%
}

section.offer .pricing ul {
    font-size: 24px;
    padding: 50px 0;
    list-style: none
}

section.offer .pricing ul .question {
    color: #23b8fb
}

section.offer .sportPanels {
    align-items: flex-start
}

section.offer .sportPanels,
section.offer .sportPanels .sportPanel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
}

section.offer .sportPanels .sportPanel {
    width: 30%;
    margin: 1.33%;
    z-index: 1
}

section.offer .sportPanels .sportPanel img {
    max-height: 400px
}

section.offer .sportPanels .sportPanel div.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    text-align: left
}

section.offer .sportPanels .sportPanel div.description h3 {
    color: #23b8fb;
    font-size: 52px;
    margin: 0 0 5px 15px;
    text-transform: uppercase
}

section.offer .sportPanels .sportPanel div.description p {
    border-top: 3px solid #23b8fb;
    font-size: 28px;
    text-align: justify;
    color: #fff;
    padding: 10px
}

section.offer>div.buttons {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60%;
    margin: 0 20% 10px
}

section.offer>div.buttons button {
    width: 30%;
    margin-top: 20px;
    margin-bottom: 25px;
    padding: 15px 20px;
    background-color: transparent;
    border: 2px solid #23b8fb;
    color: #fff;
    font-size: 24px;
    transition: .2s;
    cursor: pointer;
    font-weight: 700
}

section.offer>div.buttons button:hover {
    background-color: #23b8fb;
    transform: scale(1.1);
    color: #000
}

section.offer .wrapDown {
    transition: .2s;
    height: 0;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    color: #fff;
    display: flex;
    justify-content: center
}

section.offer .wrapDown .calendarTable {
    text-align: center;
    transition: .4s;
    font-size: 20px
}

section.offer .wrapDown .calendarTable th {
    color: #23b8fb;
    margin-down: 3px;
    font-size: 24px
}

section.offer .wrapDown .calendarTable td {
    border: 1px solid #23b8fb;
    padding: 2px;
    width: 200px;
    height: 100px
}

section.offer .wrapDown .price {
    font-size: 28px;
    color: #23b8fb
}

section.offer .wrapDown .price th {
    padding: 20px
}

section.offer .wrapDown .price td {
    text-align: center
}

section.offer .wrapDown .price td span {
    font-size: 14px
}

section.offer .wrapedDown {
    height: 60vh
}

@media(max-width:1200px)and (orientation:portrait) {
    section.offer {
        padding: 5vh 0;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    section.offer .pricing {
        padding: 40px 20px 60px
    }
    section.offer .sportPanels {
        display: flex;
        flex-direction: row;
        max-width: 100vw
    }
    section.offer .sportPanels .sportPanel {
        box-sizing: border-box;
        padding: 15px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 50%;
        z-index: 1;
        margin: 0
    }
    section.offer .sportPanels .sportPanel img {
        max-width: 100%
    }
    section.offer .sportPanels .sportPanel div.description {
        min-height: auto
    }
    section.offer .sportPanels .sportPanel div.description h3 {
        color: #23b8fb;
        font-size: 32px
    }
    section.offer .sportPanels .sportPanel div.description p {
        border-top: 3px solid #23b8fb;
        font-size: 22px
    }
    section.offer>div.buttons {
        flex-direction: row;
        align-items: center
    }
    section.offer>div.buttons button {
        z-index: 1;
        width: 50%;
        margin: 10px;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid #23b8fb;
        color: #fff;
        font-size: 18px
    }
    section.offer>div.buttons button:hover {
        background-color: #23b8fb;
        transform: scale(1.1);
        color: #000
    }
    section.offer .wrapDown .calendarTable {
        overflow: scroll;
        font-size: 14px
    }
    section.offer .wrapDown .calendarTable th {
        color: #23b8fb;
        margin-down: 3px;
        font-size: 24px
    }
    section.offer .wrapDown .calendarTable td {
        border: 1px solid #23b8fb;
        padding: 2px;
        width: 200px;
        height: 100px
    }
    section.offer .wrapDown .price {
        font-size: 14px
    }
    section.offer .wrapDown .price th {
        padding: 8px
    }
    section.offer .wrapedDown {
        height: 45vh
    }
}

@media(max-width:600px)and (orientation:portrait) {
    section.offer {
        flex-flow: column;
        overflow: hidden;
        padding: 5vh 0;
        width: 100vw;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    section.offer .pricing {
        padding: 40px 20px 60px
    }
    section.offer .sportPanels {
        display: flex;
        flex-direction: column;
        max-width: 100vw
    }
    section.offer .sportPanels .sportPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        z-index: 1;
        margin: 0
    }
    section.offer .sportPanels .sportPanel img {
        max-width: 100%
    }
    section.offer .sportPanels .sportPanel div.description h3 {
        color: #23b8fb;
        font-size: 32px
    }
    section.offer .sportPanels .sportPanel div.description p {
        border-top: 3px solid #23b8fb;
        font-size: 22px
    }
    section.offer>div.buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        margin: 0
    }
    section.offer>div.buttons button {
        z-index: 1;
        width: 60%;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid #23b8fb;
        color: #fff;
        font-size: 20px
    }
    section.offer>div.buttons button:hover {
        background-color: #23b8fb;
        transform: scale(1.1);
        color: #000
    }
    section.offer .wrapDown .calendarTable {
        overflow: scroll;
        font-size: 14px
    }
    section.offer .wrapDown .calendarTable th {
        color: #23b8fb;
        margin-down: 3px;
        font-size: 24px
    }
    section.offer .wrapDown .calendarTable td {
        border: 1px solid #23b8fb;
        padding: 2px;
        width: 200px;
        height: 100px
    }
    section.offer .wrapDown .price {
        font-size: 14px
    }
    section.offer .wrapDown .price th {
        padding: 8px
    }
    section.offer .wrapedDown {
        height: 70vh
    }
}

@media(max-width:823px)and (orientation:landscape) {
    section.offer {
        width: 100vw;
        padding-bottom: 10vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    section.offer .pricing {
        padding: 40px 20px 60px
    }
    section.offer .sportPanels {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        justify-content: center
    }
    section.offer .sportPanels .sportPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 48%;
        z-index: 1;
        margin: 1%
    }
    section.offer .sportPanels .sportPanel img {
        max-width: 100%
    }
    section.offer .sportPanels .sportPanel div.description h3 {
        color: #23b8fb;
        font-size: 32px
    }
    section.offer .sportPanels .sportPanel div.description p {
        border-top: 3px solid #23b8fb;
        font-size: 22px
    }
    section.offer>div.buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        margin: 0
    }
    section.offer>div.buttons button {
        width: 60%;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid #23b8fb;
        color: #fff;
        font-size: 20px;
        z-index: 1
    }
    section.offer>div.buttons button:hover {
        background-color: #23b8fb;
        transform: scale(1.1);
        color: #000
    }
    section.offer .wrapDown .calendarTable {
        overflow: scroll;
        font-size: 14px
    }
    section.offer .wrapDown .calendarTable th {
        color: #23b8fb;
        margin-down: 3px;
        font-size: 24px
    }
    section.offer .wrapDown .calendarTable td {
        border: 1px solid #23b8fb;
        padding: 2px;
        width: 200px;
        height: 100px
    }
    section.offer .wrapDown .price {
        font-size: 14px
    }
    section.offer .wrapDown .price th {
        padding: 8px
    }
    section.offer .wrapedDown {
        height: 130vh
    }
}

@media(max-width:1200px)and (orientation:landscape) {
    .pricing {
        padding: 40px 20px 60px
    }
    section.offer {
        width: 100vw;
        padding-bottom: 10vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    section.offer .sportPanels {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        justify-content: center
    }
    section.offer .sportPanels .sportPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 48%;
        z-index: 1;
        margin: 1%
    }
    section.offer .sportPanels .sportPanel img {
        max-width: 100%
    }
    section.offer .sportPanels .sportPanel div.description h3 {
        color: #23b8fb;
        font-size: 32px
    }
    section.offer .sportPanels .sportPanel div.description p {
        border-top: 3px solid #23b8fb;
        font-size: 22px
    }
    section.offer>div.buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        margin: 0
    }
    section.offer>div.buttons button {
        width: 60%;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid #23b8fb;
        color: #fff;
        font-size: 20px;
        z-index: 1
    }
    section.offer>div.buttons button:hover {
        background-color: #23b8fb;
        transform: scale(1.1);
        color: #000
    }
    section.offer .wrapDown .calendarTable {
        overflow: scroll;
        font-size: 14px
    }
    section.offer .wrapDown .calendarTable th {
        color: #23b8fb;
        margin-down: 3px;
        font-size: 24px
    }
    section.offer .wrapDown .calendarTable td {
        border: 1px solid #23b8fb;
        padding: 2px;
        width: 200px;
        height: 100px
    }
    section.offer .wrapDown .price {
        font-size: 14px
    }
    section.offer .wrapDown .price th {
        padding: 8px
    }
    section.offer .wrapedDown {
        height: 60vh
    }
}

@media(max-width:1280px)and (orientation:landscape) {
    .pricing {
        padding: 40px 20px 60px
    }
    section.offer {
        width: 100vw;
        padding-bottom: 10vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    section.offer .sportPanels {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        justify-content: center
    }
    section.offer .sportPanels .sportPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 48%;
        z-index: 1;
        margin: 1%
    }
    section.offer .sportPanels .sportPanel img {
        max-width: 100%
    }
    section.offer .sportPanels .sportPanel div.description {
        min-height: auto;
        padding: 15px
    }
    section.offer .sportPanels .sportPanel div.description h3 {
        color: #23b8fb;
        font-size: 32px
    }
    section.offer .sportPanels .sportPanel div.description p {
        border-top: 3px solid #23b8fb;
        font-size: 22px
    }
    section.offer>div.buttons {
        z-index: 1;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        margin: 0
    }
    section.offer>div.buttons button {
        width: 30%;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid #23b8fb;
        color: #fff;
        font-size: 20px;
        z-index: 1
    }
    section.offer>div.buttons button:hover {
        background-color: #23b8fb;
        transform: scale(1.1);
        color: #000
    }
    section.offer .wrapDown .calendarTable {
        font-size: 14px
    }
    section.offer .wrapDown .calendarTable th {
        color: #23b8fb;
        margin-down: 3px;
        font-size: 24px
    }
    section.offer .wrapDown .calendarTable td {
        border: 1px solid #23b8fb;
        padding: 2px;
        width: 200px;
        height: 100px
    }
    section.offer .wrapDown .price {
        font-size: 32px
    }
    section.offer .wrapDown .price th {
        padding: 8px
    }
    section.offer .wrapedDown {
        height: 70vh
    }
}

@media(min-width:1281px)and (max-width:1440px)and (orientation:landscape) {
    section.offer {
        width: 100vw;
        padding-bottom: 10vh;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%)
    }
    section.offer .pricing {
        padding: 40px 20px 60px
    }
    section.offer .sportPanels {
        display: flex;
        flex-direction: row;
        max-width: 100vw;
        justify-content: center
    }
    section.offer .sportPanels .sportPanel {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        width: 48%;
        z-index: 1;
        margin: 1%
    }
    section.offer .sportPanels .sportPanel img {
        max-width: 100%
    }
    section.offer .sportPanels .sportPanel div.description {
        min-height: auto;
        padding: 15px
    }
    section.offer .sportPanels .sportPanel div.description h3 {
        color: #23b8fb;
        font-size: 32px
    }
    section.offer .sportPanels .sportPanel div.description p {
        border-top: 3px solid #23b8fb;
        font-size: 22px
    }
    section.offer>div.buttons {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100vw;
        margin: 0
    }
    section.offer>div.buttons button {
        width: 60%;
        padding: 15px 20px;
        background-color: transparent;
        border: 2px solid #23b8fb;
        color: #fff;
        font-size: 20px;
        z-index: 1
    }
    section.offer>div.buttons button:hover {
        background-color: #23b8fb;
        transform: scale(1.1);
        color: #000
    }
    section.offer .wrapDown .calendarTable {
        overflow: scroll;
        font-size: 14px
    }
    section.offer .wrapDown .calendarTable th {
        color: #23b8fb;
        margin-down: 3px;
        font-size: 24px
    }
    section.offer .wrapDown .calendarTable td {
        border: 1px solid #23b8fb;
        padding: 2px;
        width: 200px;
        height: 100px
    }
    section.offer .wrapDown .price {
        font-size: 14px
    }
    section.offer .wrapDown .price th {
        padding: 8px
    }
    section.offer .wrapedDown {
        height: 60vh
    }
}

.about {
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(../images/running.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover
}

.about .header {
    font-size: 72px;
    text-transform: uppercase;
    margin: 10vh 0 3%;
    color: #fff;
    z-index: 1
}

.about .header {
    color: #23b8fb
}

.about .trainers {
    font-size: 56px;
    display: flex;
    flex-direction: row;
    z-index: 1;
    overflow: hidden
}

.about .trainers div {
    width: 100%;
    margin: 0 3%;
    display: flex;
    flex-flow: column nowrap
}

.about .trainers div h3 {
    text-align: center;
    border-bottom: 2px solid #23b8fb;
    margin: 0 50px
}

.about .trainers div h3 {
    color: #23b8fb
}

.about .trainers div p {
    text-align: justify
}

.about:after {
    content: "";
    position: absolute;
    top: -25%;
    bottom: -30%;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: 0
}

@media(max-width:600px)and (orientation:portrait) {
    .about {
        max-width: 100vw
    }
    .about .header {
        font-size: 66px;
        margin: 3vh 0 0
    }
    .about .header {
        color: #23b8fb
    }
    .about .trainers {
        font-size: 32px;
        flex-direction: column;
        align-items: center;
        overflow: hidden
    }
    .about .trainers div {
        width: 90%;
        margin: 2%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }
    .about .trainers div h1 {
        font-size: 32px;
        margin: 0 25px;
        border-bottom: 2px solid #23b8fb
    }
    .about .trainers div p {
        text-align: justify
    }
    .about:after {
        background-color: rgba(0, 0, 0, .55)
    }
}

@media(max-width:1200px)and (orientation:portrait) {
    .about {
        background-image: url(/images/running.jpg);
        padding: 0 0 4%;
        max-width: 100vw
    }
    .about .header {
        font-size: 66px;
        margin: 3vh 0 0
    }
    .about .header {
        color: #23b8fb
    }
    .about .trainers {
        font-size: 32px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        overflow: hidden
    }
    .about .trainers div {
        width: 90%;
        margin: 2%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }
    .about .trainers div h3 {
        font-size: 40px;
        margin: 0 25px;
        border-bottom: 2px solid #23b8fb
    }
    .about .trainers div p {
        font-size: 30px;
        text-align: justify
    }
    .about:after {
        background-color: rgba(0, 0, 0, .55)
    }
}

@media(max-width:1000px)and (orientation:portrait) {
    .about {
        max-width: 100vw
    }
    .about .header {
        font-size: 66px;
        margin: 3vh 0 0
    }
    .about .header {
        color: #23b8fb
    }
    .about .trainers {
        font-size: 32px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        overflow: hidden
    }
    .about .trainers div {
        width: 90%;
        margin: 2%;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center
    }
    .about .trainers div h3 {
        font-size: 32px;
        margin: 0 25px;
        border-bottom: 2px solid #23b8fb
    }
    .about .trainers div p {
        font-size: 24px;
        text-align: justify
    }
    .about:after {
        background-color: rgba(0, 0, 0, .55)
    }
}

@media(max-width:823px)and (orientation:landscape) {
    .about .header {
        font-size: 52px;
        margin: 0 15px
    }
    .about .header {
        color: #23b8fb
    }
    .about .trainers {
        width: 100%;
        overflow: hidden
    }
    .about .trainers div {
        width: 50%
    }
    .about .trainers div h3 {
        margin: 0 15px;
        font-size: 30px
    }
    .about .trainers div p {
        font-size: 24px
    }
    .about:after {
        background-color: rgba(0, 0, 0, .55)
    }
}

@media(max-width:1200px)and (orientation:landscape) {
    .about {
        min-height: 40vh
    }
    .about .header {
        font-size: 52px;
        margin: 0 15px
    }
    .about .header {
        color: #23b8fb
    }
    .about .trainers {
        width: 100%;
        overflow: hidden
    }
    .about .trainers div {
        width: 50%
    }
    .about .trainers div h3 {
        margin: 0 15px;
        font-size: 30px
    }
    .about .trainers div p {
        font-size: 24px
    }
    .about:after {
        background-color: rgba(0, 0, 0, .55)
    }
}

@media(min-width:1201px)and (max-width:1300px)and (orientation:landscape) {
    .about:after {
        background-color: rgba(0, 0, 0, .6)
    }
}

.partners {
    padding: 10% 0;
    background-color: #000;
    color: #fff;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 15
}

.partners h3 {
    font-size: 38px
}

.partners h3 span {
    color: #00adee
}

.partners img {
    margin: 20px
}

.partners p {
    font-size: 20px;
    text-align: center;
    margin: 0 10%;
    font-weight: 700
}

@media(max-width:1000px)and (orientation:portrait) {
    .partners {
        display: flex
    }
    .partners h3 {
        font-size: 56px
    }
    .partners p {
        font-size: 32px
    }
}

@media(max-width:768px)and (orientation:portrait) {
    .partners {
        display: flex
    }
}

@media(max-width:568px)and (orientation:portrait) {
    .partners {
        display: flex
    }
    .partners h3 {
        font-size: 32px
    }
    .partners p {
        font-size: 16px
    }
}

.contact {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-image: url(/images/running.jpg);
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20vh;
    overflow: hidden;
    -webkit-clip-path: polygon(0 100%, 0 15%, 100% 0, 100% 100%);
    clip-path: polygon(0 100%, 0 15%, 100% 0, 100% 100%)
}

.contact h3.question {
    font-size: 62px;
    color: #fff;
    z-index: 1
}

.contact h3.question .contactGold {
    color: #23b8fb
}

.contact h3 {
    font-size: 34px;
    color: #fff;
    z-index: 1;
    margin-top: -10px
}

.contact form {
    z-index: 1;
    font-size: 32px;
    display: flex;
    flex-flow: column nowrap;
    margin: 4vh 0 6vh;
    color: #fff;
    width: 40%;
    justify-content: center;
    font-family: Oswald, sans-serif
}

.contact form label {
    margin: 8px;
    color: #fff
}

.contact form input {
    width: 100%;
    padding: 10px;
    font-size: 28px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
    font-family: Oswald, sans-serif
}

.contact form input::-moz-placeholder {
    color: #fff
}

.contact form input::placeholder {
    color: #fff
}

.contact form textarea {
    width: 100%;
    height: 150px;
    resize: none;
    font-size: 28px;
    padding: 10px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    margin: 5px;
    font-family: Oswald, sans-serif
}

.contact form textarea::-moz-placeholder {
    color: #fff
}

.contact form textarea::placeholder {
    color: #fff
}

.contact form button {
    min-width: 10%;
    margin: 15px;
    background-color: transparent;
    padding: 16px 24px;
    font-size: 28px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 5px;
    align-self: center
}

.contact:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    z-index: 0
}

@media(max-width:1200px)and (orientation:portrait) {
    .contact {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        background-image: url(/images/running.jpg)
    }
    .contact form {
        width: 70%
    }
    .contact:after {
        background-color: rgba(0, 0, 0, .6)
    }
}

@media(max-width:1000px)and (orientation:portrait) {
    .contact {
        padding-top: 10vh;
        max-width: 100vw;
        background-image: url(/images/running.jpg)
    }
    .contact:after {
        background-color: rgba(0, 0, 0, .6)
    }
    .contact h3.question {
        padding: 0 20px;
        font-size: 50px
    }
    .contact h3,
    .contact h3.question {
        text-align: center;
        line-height: 100%
    }
    .contact h3 {
        margin-top: 30px
    }
    .contact form {
        font-size: 32px;
        margin: 4vh 0 6vh;
        width: 80%;
        font-family: Oswald, sans-serif
    }
}

@media(max-width:823px)and (orientation:landscape) {
    .contact {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        padding-top: 10vh;
        max-width: 100vw
    }
    .contact:after {
        background-color: rgba(0, 0, 0, .6)
    }
    .contact h3.question {
        padding: 0 20px;
        font-size: 50px
    }
    .contact h3,
    .contact h3.question {
        text-align: center;
        line-height: 100%
    }
    .contact h3 {
        margin-top: 30px
    }
    .contact form {
        font-size: 32px;
        margin: 4vh 0 6vh;
        width: 80%;
        font-family: Oswald, sans-serif
    }
}

.map-responsive {
    width: 100%;
    position: relative;
    height: 400px
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute
}

.footer {
    justify-content: center;
    background-color: #000;
    height: 30vh
}

.footer,
.footer .wrapper {
    display: flex;
    flex-direction: row;
    align-items: center
}

.footer .wrapper {
    box-sizing: border-box;
    width: 70%;
    height: 100%
}

.footer .wrapper .logo {
    width: 25%;
    margin: 4% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid #23b8fb
}

.footer .wrapper .footerMain {
    margin: 4% 0;
    color: #fff;
    display: flex;
    flex-direction: column;
    width: 50%
}

.footer .wrapper .footerMain .socials {
    display: flex;
    justify-content: center;
    font-size: 42px
}

.footer .wrapper .footerMain .socials a {
    margin: 15px;
    color: #fff;
    transition: .2s
}

.footer .wrapper .footerMain .socials a:hover {
    color: #23b8fb;
    transform: scale(1.1)
}

.footer .wrapper .footerMain .footerContact {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text
}

.footer .wrapper .footerMain .clause {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px
}

.footer .wrapper .gg {
    width: 25%;
    margin: 4% 0;
    border-left: 1px solid #23b8fb;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer .wrapper .gg h4 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #fff
}

.footer .wrapper .gg h4 .bluetext {
    color: #00adee
}

.footer .wrapper .gg .pfr {
    max-width: 200px
}

@media(max-width:1200px)and (orientation:portrait) {
    .footer .wrapper {
        width: 100%
    }
    .footer .wrapper .logo {
        width: 25%;
        margin: 4% 0
    }
    .footer .wrapper .logo img {
        max-width: 90%
    }
    .footer .wrapper .footerMain {
        width: 50%;
        justify-content: center
    }
    .footer .wrapper .footerMain .footerContact {
        font-size: 32px
    }
    .footer .wrapper .footerMain .socials {
        font-size: 48px
    }
}

@media(max-width:1000px)and (orientation:portrait) {
    .footer .wrapper {
        width: 100%
    }
    .footer .wrapper .logo {
        width: 35%;
        margin: 4% 0
    }
    .footer .wrapper .logo img {
        max-width: 90%
    }
    .footer .wrapper .footerMain {
        width: 65%
    }
    .footer .wrapper .footerMain .footerContact {
        font-size: 26px
    }
    .footer .wrapper .footerMain .socials {
        font-size: 42px
    }
    .footer .wrapper .gg {
        display: none
    }
}

@media(max-width:600px)and (orientation:portrait) {
    .footer .wrapper {
        width: 100%
    }
    .footer .wrapper .logo {
        width: 35%;
        margin: 4% 0
    }
    .footer .wrapper .logo img {
        max-width: 90%
    }
    .footer .wrapper .footerMain {
        width: 65%
    }
    .footer .wrapper .footerMain .footerContact {
        font-size: 18px
    }
    .footer .wrapper .footerMain .socials {
        font-size: 36px
    }
    .footer .wrapper .gg {
        display: none
    }
}

@media(max-width:823px)and (orientation:landscape) {
    .footer {
        max-width: 100vw;
        height: 50vh
    }
    .footer .wrapper {
        width: 100%
    }
    .footer .wrapper .logo {
        width: 25%;
        margin: 4% 0
    }
    .footer .wrapper .logo img {
        max-width: 90%
    }
    .footer .wrapper .footerMain {
        width: 50%;
        justify-content: center
    }
    .footer .wrapper .footerMain .footerContact {
        font-size: 22px
    }
    .footer .wrapper .footerMain .socials {
        font-size: 28px
    }
    .footer .wrapper .gg a {
        display: flex;
        justify-content: center
    }
    .footer .wrapper .gg a img {
        max-width: 80%
    }
}

/*# sourceMappingURL=/style.9e94adac.css.map */